# WSA Pandas Demo

### Imports
* The `pandas` library should already be installed as part of the Anaconda distribution
* Typically abbreviated as `pd`

In [ ]:
import pandas as pd

### Reading in a DataFrame
* We will start by creating a dataframe called `df` containing the Michigan Football GameLog data we have stored in our SQL database.
* This data will be exported and read into Jupyter notebook as a `.csv` file.
* Make sure your `.csv` file is stored in the same folder as this notebook.

In [ ]:
# .read_csv()
# drop unneeded id column with .drop()

In [ ]:
# .head() shows first 5 rows

In [ ]:
# .tail() shows last 5 rows

In [ ]:
# .head(2) shows first 2 rows

### Data Preprocessing

In [ ]:
# .info() provides essential details for your dataset

In [ ]:
# .shape shows dimensions of df (num_rows, num_cols)

#### Null and Duplicate Values

In [ ]:
# We can append dataframes to each other using pd.concat()
# It is good practice to never change or update the original df directly
# Always create copies!

In [ ]:
# We can also remove duplicate values with .drop_duplicates()

In [ ]:
# .isnull() checks for NULL or empty datapoints 
# returns True for any values that are NULL

In [ ]:
# .sum() gets a summary of the above df

In [ ]:
# If we did have null values, we could use the .dropna() function to remove all rows with null values

#### Modifying DataFrame Columns

In [ ]:
# check column information with .columns

In [ ]:
# .rename() allows us to rename our columns
df.rename(columns = {
    'home_away' : 'location',
    'points_scored' : 'pts_scored',
    'points_against' : 'pts_against',
    'pass_td' : 'pass_tds',
    'pass_1st_down' : 'pass_first_downs',
    'rush_td' : 'rush_tds',
    'rush_1st_down' : 'rush_first_downs'
}, inplace = True)

In [ ]:
# Even though the values of year are numeric, we are treating it as a categorical variable
# We can change year to an object type using .astype()
df.year = df.year.astype('object') 
df.info()

### Indexing into our DataFrame

To access a column, we can use bracket notation.

In [ ]:
# .describe() gets us a numerical summary of each column that uses numbers
# .round() formats the output

In [ ]:
df['pts_scored'].describe()

In [ ]:
# This returns a series
df['opponent']

In [ ]:
# This returns a df
df[['opponent']]

In [ ]:
# This returns a df with multiple columns
df[['opponent', 'result']]

In [ ]:
# .value_counts() lets us count the number of times a specific value is in the column
# using .head(n) to show the n most frequent opponents

In [ ]:
# .corr(numeric_only=true) shows us the correlation between any combination of columns that have numbers
# Values closer to 1 indicate a higher correlation between variables

#### Accessing Rows of a DataFrame

There are two ways to access a row using indices:
* `loc[]` requires label indexing 
* `iloc[]` uses integer indexing

In [ ]:
# .set_index() to existing column
alt_df = df.set_index('date')
alt_df.head(5)

In [ ]:
# Returns a Series
row1_loc = alt_df.loc['2011-09-10']
row1_loc

In [ ]:
row1_iloc = alt_df.iloc[1]
row1_iloc

In [ ]:
# To access multiple rows, we can slice the df
hoke_era = df.iloc[:51]
hoke_era

To access a specific value within a df, we access by row, and then by column.

In [ ]:
rush_yrds_natty = df.iloc[164]['rush_yrds']
rush_yrds_natty

In [ ]:
rush_off_corr = corr_df['rush_yrds']['total_offense']
rush_off_corr

### Analyzing Data With `groupby()`

In [ ]:
# We can use the .groupby() function to form groups within our df based on a certain column

In [ ]:
# We can access each of the groups using the .get_group() function

In [ ]:
# We can also use .groupby() paired with other functions to get some key calculations
# Ex: mean of grouped W-L results
results = df.groupby('result', sort=False)
results.mean(numeric_only=True).round(4)

In [ ]:
# Ex: .mean() with single column
years.mean(numeric_only=True)['rush_tds']

In [ ]:
# .sum()

In [ ]:
# .max()

In [ ]:
# .min()

In [ ]:
# .median()